%h1= t('headers.departaments.index')

%table.table
  %thead
    %tr
      %th= Departament.human_attribute_name(:name)
      %th.p50
      %th.p50
      %th.p50

  %tbody
    - @departaments.each do |departament|
      %tr
        %td= departament.name
        %td
          = link_to departament, class: 'btn btn-success' do
            = fa_icon :eye
        %td
          = link_to edit_departament_path(departament), class: 'btn btn-info' do
            = fa_icon :edit
        %td
          = link_to departament, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
            = fa_icon :times

%br

= link_to t('buttons.new.departament'), new_departament_path, class: 'btn btn-primary'
