=breadcrumb_tag do
  %li.active
    = t('breadcrumb.app')
  %li
    = t('breadcrumb.projects')

.page-header
  %h1= t('headers.projects.index')

= link_to t('buttons.new.project'), new_project_path, class: 'btn btn-primary'
#entries-wrapper
  - @projects.each do |project|
    .entry
      %dl.horizontal
        %dt= Project.human_attribute_name(:name)
        %dd= project.name
        %dt= Project.human_attribute_name(:date_start)
        %dd= project.date_start
        %dt= Project.human_attribute_name(:date_finish)
        %dd= project.date_finish
        %dt= Project.human_attribute_name(:price)
        %dd= project.price
        %dt= Project.human_attribute_name(:workers)
        %dd
        - if project.workers.empty?
          = t('helpers.empty')
        - else

          - project.workers.each do |worker|
            = worker.initials

      %ul.entry-links
        %li
          = link_to project, class: 'btn btn-success' do
            = fa_icon :eye
        %li
          = link_to edit_project_path(project), class: 'btn btn-info' do
            = fa_icon :edit
        %li
          = link_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
            = fa_icon :times
